<div class="container-fluid">
	 <div class="jumbotron">
		<div class="row">
		 
		  <aside class="col-md-2">
		    <section>
		      <h3>
		        <%= @house.name %>
		      </h3>
		    </section>
		    <section>
		       <%= render 'shared/stats'  %>
		    </section>
		  </aside>
		
		  <div class="col-md-7">
		  	<h3> События </h3>
		  	<%= render 'shared/events'  %>
		  </div>
		   
		  <div class="col-md-3">
			<%= link_to "Изменить параметры дома", edit_house_path, class: "btn btn-warning" %>
			<br>
			<%= link_to "Удалить информацию о доме", house_path(@house), method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-danger"  %> 
			<br>
			<%= link_to "Добавить событие", root_path, class: "btn btn-primary" %>
			<br>
			<%= link_to "Добавить новый дом", new_house_path, class: "btn btn-success" %>
		  </div>
		  
		</div>		
	</div>
</div>
