<div class="stats">
    <strong id="houses" class="stat">
      Подъездов: <%= @house.n_porches %><br>
      Этажей: <%= @house.n_floors %><br>
      Квартир: <%= @house.n_flats %><br>
      Долгота:  <%= @house.longitude %><br>
      Широта:  <%= @house.latitude %>
  	</strong>
  </a>
</div 