
<% if signed_in? %>
<div class="container-fluid">
	<div class="row">
		<div class="checkbox">
    		<label>
    			<input type="checkbox" id="housesbox"> Жилые дома
    		</label>
    		<label>
    			<input type="checkbox" id="peoplebox"> Волонтеры
    		</label>
    	    <label>
    			<input type="checkbox" id="cubebox"> Кубы
    		</label>
    		<label>
    			<input type="checkbox" id="dvorbox"> Встречи во дворах
    		</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="houseagitbox1" value="option1"> Волна 1
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="houseagitbox2" value="option2"> Волна 2
			</label>
			<label class="checkbox-inline">
			  <input type="checkbox" id="houseagitbox3" value="option3"> Волна 3
			</label>    		

		</div>

		<div id="multi_markers" style='width: 100%; height: 700px;'></div>
	</div>

</div>

<% end %>

 <script type="text/javascript"> 		
	var mapStyle = [
	  //omitted for brevity but find nice one here: http://snazzymaps.com/
	];
	
	var handler = Gmaps.build('Google');
	
	handler.buildMap({ 
		internal: {id: 'multi_markers'}, 
		    provider: {
	    	  zoom:      12,
	      	  center:    new google.maps.LatLng(55.817180, 37.573750),
	      	  mapTypeId: google.maps.MapTypeId.ROADMAP,
	      	  styles:    mapStyle
	    	}
	    }, function(){
	  	document.getElementById('peoplebox').checked = false;
	  	document.getElementById('housesbox').checked = false;
	    document.getElementById('cubebox').checked = true;
	  	document.getElementById('dvorbox').checked = false;
	  	document.getElementById('houseagitbox1').checked = false;
	  	document.getElementById('houseagitbox2').checked = true;
	  	document.getElementById('houseagitbox3').checked = false;
	  	
	  	var people = handler.addMarkers(<%=raw @gmappeople.to_json %>, {visible: false});
	  	var houses = handler.addMarkers(<%=raw @gmaphouses.to_json %>, {visible: false});
	  	var cubes = handler.addMarkers(<%=raw @gmapcubes.to_json %>, {visible: true});
	  	var dvors = handler.addMarkers(<%=raw @gmapdvor.to_json %>, {visible: false});
	  	var dom_list = handler.addMarkers(<%=raw @gmapdomlist.to_json %>, {visible: false});
	  	var dom_list2 = handler.addMarkers(<%=raw @gmapdomlist2.to_json %>, {visible: true});
	  	var dom_list3 = handler.addMarkers(<%=raw @gmapdomlist3.to_json %>, {visible: false});
	  	
	  	var beskudnikovo = handler.addPolygons(
	  		[
	  			[
				{lat: 55.848517796439644, lng: 37.57371425628662},{lat: 55.84957782718906, lng: 37.56695508956909},
				{lat: 55.85592536090599, lng: 37.56181597709656},{lat: 55.85834606363988, lng: 37.56242752075195},
				{lat: 55.861007458251365, lng: 37.56232023239136},{lat: 55.86263310734381, lng: 37.561612129211426},
				{lat: 55.865583185648006, lng: 37.559380531311035},{lat: 55.87083256680692, lng: 37.55523920059204},
				{lat: 55.872493920363105, lng: 37.55397319793701},{lat: 55.87361348810588, lng: 37.55144119262695},
				{lat: 55.87380609865671, lng: 37.55002498626709},{lat: 55.873854251145154, lng: 37.54807233810425},
				{lat: 55.87747755459241, lng: 37.54682779312134},{lat: 55.87841041021314, lng: 37.5531792640686},
				{lat: 55.87867521675649, lng: 37.55307465791702},{lat: 55.87907543230905, lng: 37.556360363960266},
				{lat: 55.87897613109061, lng: 37.55651593208313},{lat: 55.87902728629547, lng: 37.55759954452515},
				{lat: 55.8755275130275, lng: 37.557663917541504},{lat: 55.87487145850874, lng: 37.55781412124634},
				{lat: 55.87373386981213, lng: 37.55854368209839},{lat: 55.86351815435995, lng: 37.566633224487305},
				{lat: 55.86297629123339, lng: 37.56400465965271},{lat: 55.86165170510345, lng: 37.56454110145569},
				{lat: 55.86175406109639, lng: 37.56379008293152},{lat: 55.86162762130121, lng: 37.56317853927612},
				{lat: 55.860393306445616, lng: 37.563371658325195},{lat: 55.85945399666916, lng: 37.563382387161255}																					,
				{lat: 55.85938174113031, lng: 37.56493806838989},{lat: 55.85980624049668, lng: 37.56495416164398},
				{lat: 55.85980624049668, lng: 37.56707847118378},{lat: 55.859369698527445, lng: 37.56707310676575},
				{lat: 55.85934260265736, lng: 37.567883133888245},{lat: 55.855443611025905, lng: 37.566643953323364},
				{lat: 55.85487152528564, lng: 37.56652593612671},{lat: 55.854510203636394, lng: 37.56680488586426},
				{lat: 55.85497992112528, lng: 37.57057070732117},{lat: 55.85503411893172, lng: 37.57277011871338},
				{lat: 55.85422114389797, lng: 37.572630643844604},{lat: 55.85297454914471, lng: 37.57272720336914},
				{lat: 55.85093293803123, lng: 37.57292032241821},
	  			]
	  		],
	  		{ strokeColor: '#0F8A97', strokeWeight: 2, fillColor: "#0F8A97", fillOpacity: 0.10}
	  	);
	  	
	  	var timiryazevsky = handler.addPolygons(
	  		[
	  			[
				{lat: 55.846554254020724, lng: 37.574615478515625},{lat: 55.83942202632284, lng: 37.57864952087402},
				{lat: 55.82660000320063, lng: 37.57332801818848},{lat: 55.8183550415602, lng: 37.57547378540039},
				{lat: 55.808757827692574, lng: 37.58448600769043},{lat: 55.80822725940602, lng: 37.580366134643555},
				{lat: 55.80484471657297, lng: 37.55850076675415},{lat: 55.804959281655776, lng: 37.55599021911621},
				{lat: 55.80551401307766, lng: 37.553168535232544},{lat: 55.80598432265665, lng: 37.55168795585632},
				{lat: 55.807075660174505, lng: 37.54943490028381},{lat: 55.81213400189816, lng: 37.540626525878906},
				{lat: 55.81261628859313, lng: 37.54105567932129},{lat: 55.82129642718673, lng: 37.53273010253906},
				{lat: 55.82317686868505, lng: 37.5318717956543},{lat: 55.826696425163064, lng: 37.53273010253906},
				{lat: 55.83079413763837, lng: 37.53204345703125},{lat: 55.8330115431899, lng: 37.53805160522461},
				{lat: 55.8330115431899, lng: 37.53805160522461},{lat: 55.833879189208865, lng: 37.53899574279785},
				{lat: 55.83503602045565, lng: 37.53659248352051},{lat: 55.844771319767744, lng: 37.56028175354004},
				{lat: 55.84838529056317, lng: 37.55573272705078},{lat: 55.84954169025316, lng: 37.562255859375},
				{lat: 55.84957782718906, lng: 37.56695508956909},{lat: 55.848517796439644, lng: 37.57371425628662},
				{lat: 55.846457881286995, lng: 37.574357986450195},{lat: 55.84656630059564, lng: 37.574626207351685},
				{lat: 55.846558771486755, lng: 37.57461681962013},
	  			]
	  		],
	  		{ strokeColor: '#0F8A97', strokeWeight: 2, fillColor: "#0F8A97", fillOpacity: 0.10}
	  	);
	 	
	  	var savelovsky = handler.addPolygons(
	  		[
	  			[
	  			{lat: 55.792303, lng: 37.587992},{lat: 55.79154684719409, lng: 37.56957292556763},
	  			{lat: 55.79376648984946, lng: 37.56354331970215},{lat: 55.79927885943667, lng: 37.55719184875488},
	  			{lat: 55.80586373099858, lng: 37.54944562911987},{lat: 55.80594814519845, lng: 37.54955291748047},
	  			{lat: 55.80693095419677, lng: 37.54898428916931},{lat: 55.807075660174505, lng: 37.54943490028381},
	  			{lat: 55.80598432265665, lng: 37.55168795585632},{lat: 55.80551401307766, lng: 37.553168535232544},
	  			{lat: 55.804959281655776, lng: 37.55599021911621},{lat: 55.80484471657297, lng: 37.55850076675415},
	  			{lat: 55.805128113794865, lng: 37.5607430934906},{lat: 55.8082513763032, lng: 37.580323219299316},
	  			{lat: 55.805574309495064, lng: 37.58203983306885},{lat: 55.79485213855915, lng: 37.58429288864136}, 
	  			]
	  		],
	  		{ strokeColor: '#0F8A97', strokeWeight: 2, fillColor: "#0F8A97", fillOpacity: 0.10}
	  	);
	  	
	  	 var begovoy = handler.addPolygons(
	    	[
	      		[
				{lat: 55.78203955532521, lng: 37.58594512939453},{lat: 55.7784435534977, lng: 37.58304834365845},
				{lat: 55.77784016497512, lng: 37.581632137298584},{lat: 55.775800642613135, lng: 37.57695436477661},
				{lat: 55.77535410572379, lng: 37.568907737731934},{lat: 55.77394205000036, lng: 37.552127838134766},
				{lat: 55.776235106027315, lng: 37.55470275878906},{lat: 55.77721263100106, lng: 37.55105495452881},
				{lat: 55.78068807678316, lng: 37.545647621154785},{lat: 55.78334272238343, lng: 37.54410266876221},
				{lat: 55.78506814503839, lng: 37.5412917137146},{lat: 55.79171573749445, lng: 37.550647258758545},
				{lat: 55.792137960041494, lng: 37.5497031211853},{lat: 55.792306847778754, lng: 37.54920959472656},
				{lat: 55.792137960041494, lng: 37.54899501800537},{lat: 55.79227065761101, lng: 37.54871606826782},
				{lat: 55.79276826947025, lng: 37.54944562911987},{lat: 55.785623159858986, lng: 37.565646171569824},
				{lat: 55.79131160591249, lng: 37.573360204696655},{lat: 55.791705115, lng: 37.573400},
				{lat: 55.792303, lng: 37.587992},{lat: 55.79231287947013, lng: 37.58852005004883},	
	      		]
	    	],
	    	{ strokeColor: '#0F8A97', strokeWeight: 2, fillColor: "#0F8A97", fillOpacity: 0.10}
	  	);
	  	
		var horoshevskiy = handler.addPolygons(
	  		[
	  			[
	  			{lat: 55.80366889755303, lng: 37.5203275680542},{lat: 55.80030404999747, lng: 37.53262281417847},
	  			{lat: 55.79276826947025, lng: 37.54944562911987},{lat: 55.79227065761101, lng: 37.54871606826782},
	  			{lat: 55.792137960041494, lng: 37.54899501800537},{lat: 55.792306847778754, lng: 37.54920959472656},
	  			{lat: 55.792137960041494, lng: 37.5497031211853},{lat: 55.79171573749445, lng: 37.550647258758545},
	  			{lat: 55.78506814503839, lng: 37.5412917137146},{lat: 55.78334272238343, lng: 37.54410266876221},
	  			{lat: 55.78068807678316, lng: 37.545647621154785},{lat: 55.77721263100106, lng: 37.55105495452881},
	  			{lat: 55.776235106027315, lng: 37.55470275878906},{lat: 55.77394205000036, lng: 37.552127838134766},
	  			{lat: 55.773604114548405, lng: 37.54672050476074},{lat: 55.76626536499858, lng: 37.53745079040527},
	  			{lat: 55.76006014700676, lng: 37.52431869506836},{lat: 55.76187111032996, lng: 37.522430419921875},
	  			{lat: 55.76059137163162, lng: 37.51938343048096},{lat: 55.76923482810412, lng: 37.51358985900879},
	  			{lat: 55.77780396136668, lng: 37.50612258911133},{lat: 55.79476770030039, lng: 37.504448890686035},
	  			{lat: 55.79365792331403, lng: 37.518181800842285},{lat: 55.794502321723975, lng: 37.51878261566162},
	  			
	  			]
	  		],
	    	{ strokeColor: '#0F8A97', strokeWeight: 2, fillColor: "#0F8A97", fillOpacity: 0.10}
	  	);		
	  	
	//  	handler.bounds.extendWith(people);
	//  	handler.bounds.extendWith(houses);
	  	handler.bounds.extendWith(beskudnikovo);
	  	handler.bounds.extendWith(timiryazevsky);
	  	handler.bounds.extendWith(savelovsky);
	 	handler.bounds.extendWith(begovoy);
	  	handler.bounds.extendWith(horoshevskiy);
	  	handler.fitMapToBounds();
	  	
	  	google.maps.event.addDomListener(document.getElementById('peoplebox'), 'click', function(){
           boxclick(document.getElementById('peoplebox'), people);
        });
		
		google.maps.event.addDomListener(document.getElementById('housesbox'), 'click', function(){
           boxclick(document.getElementById('housesbox'), houses);
        });
		
		google.maps.event.addDomListener(document.getElementById('cubebox'), 'click', function(){
           boxclick(document.getElementById('cubebox'), cubes);
        });

		google.maps.event.addDomListener(document.getElementById('dvorbox'), 'click', function(){
           boxclick(document.getElementById('dvorbox'), dvors);
        });
        
		google.maps.event.addDomListener(document.getElementById('houseagitbox1'), 'click', function(){
           boxclick(document.getElementById('houseagitbox1'), dom_list);
        });      
        
        google.maps.event.addDomListener(document.getElementById('houseagitbox2'), 'click', function(){
           boxclick(document.getElementById('houseagitbox2'), dom_list2);
        });  
        
        google.maps.event.addDomListener(document.getElementById('houseagitbox3'), 'click', function(){
           boxclick(document.getElementById('houseagitbox3'), dom_list3);
        });  
          		
		});
		
			// == shows all markers of a particular category, and ensures the checkbox is checked ==
		function show(data) {
		  for (var i = 0; i < data.length; i++ ){
			data[i].show(); 
		  }		  
		}
		
		// == hides all markers of a particular category, and ensures the checkbox is cleared ==
		function hide(data) {
		  for (var i = 0; i < data.length; i++ ){
			data[i].hide(); 
		  }
		}
		
		// == a checkbox has been clicked ==
		function boxclick(box,data) {
		  if (box.checked) {
		    show(data);
		  } else {
		    hide(data);
		  }
		}
	
</script>
